@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}
@layer base{
   html {
        scroll-behavior:smooth;
    }
}

::-webkit-scrollbar{
    display:none;
}

.rich-text {
  font-size: 16px;
  color: #555555;
}

/* Paragraphs */
.rich-text p {
  margin-bottom: 16px;
  font-size: 16px;
  color: #555555;
}

/* ALL HEADINGS SAME */
.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  font-size: 24px;        /* same size for all headings */
  font-weight: 700;       /* bold */
  color: #252525;         /* same color */
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: left;
}

.rich-text strong {
  font-weight: 700;
}

/* Lists */
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555555;
}
